<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demospringmvc.dao.IAccountDao">
    <!-- 当数据库中的字段信息与对象的属性不一致时需要通过resultMap来映射 -->
    <resultMap type="Account" id="accountList" autoMapping="true">
        <association property="user" column="USERID" javaType="User" resultMap="userResult"/>
    </resultMap>
    <resultMap id="userResult" type="User">
        <id property="id" column="uid"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
    </resultMap>
    <!-- 查询用户列表(参数：对象入参) -->
    <select id="findAllAccount" resultMap="accountList" parameterType="Account">
        select a.*,u.id as uid,u.name,u.age from tb_account as a,tb_user u
        where a.userid=u.id
    </select>
</mapper>