<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="hello" class="com.example.demospringbean.HelloWorld" scope="prototype" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World" />
    </bean>
<!--    <bean class="com.example.demospringbean.InitHelloWorld" />-->

    <bean name="helloChina" class="com.example.demospringbean.HelloChina" parent="hello">
        <property name="message2" value="Hello China"/>
    </bean>

    <!--构造函数注入-->
    <bean id="textEditor1" class="com.example.demospringbean.TextEditor">
        <constructor-arg ref="spellChecker"/>
    </bean>
    <!--自动装配
    <bean id="textEditor1" class="com.example.springbean.TextEditor" autowire='constructor'/>
    -->


    <!--Setter注入-->
    <bean id="textEditor2" class="com.example.demospringbean.TextEditor"  >
        <property name="spellChecker" ref="spellChecker"/>
    </bean>
    <!--自动装配
      <bean id="textEditor2" class="com.example.springbean.TextEditor" autowire='byName'/>
      <bean id="textEditor2" class="com.example.springbean.TextEditor" autowire='byType'/>
     -->
    <bean id="spellChecker" class="com.example.demospringbean.SpellChecker">

    </bean>

    <!--嵌套bean Setter注入-->
    <bean id="textEditor" class="com.example.demospringbean.TextEditor">
        <property name="spellChecker">
            <bean class="com.example.demospringbean.SpellChecker"/>
        </property>
    </bean>


    <!-- Definition for javaCollection -->
    <bean id="javaCollection" class="com.example.demospringbean.JavaCollection">

        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>

    </bean>
</beans>