.leftbox{
    width:63%;
}
.rightbox{
    width:33%;
    background:lightgray;
    height: 800px;
}
.box{
    width:49%;

}
.left{
    float:left;
}
.right{
    float:right;
}
.middle{

    /*margin: 0 400px;*/
}

.linehight{
    line-height:50px
}

.marginleft{
    margin-left:40px;
}

.marginlefts{
    margin-left:20px;
}

.leftpart{
    width:30%;
    float: left;
}
.middlepart{
    width:35%;
    margin-left: 32%;
    margin-right:32%;

}


.rightpart{
    width:30%;
    float: right;

}

.container {
    background:lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}