.leftbox{
    width:63%;
}
.rightbox{
    width:33%;
    background:lightgray;
    height: 800px;
}
.box{
    width:49%;

}
.left{
    float:left;
}
.right{
    float:right;
}
.right{
    float:right;
}

.marginleft{
    margin-left:40px;
}

.marginlefts{
    margin-left:20px;
}